---
import Base from "@/layouts/Base.astro"

const title = "Music | SamIsTheFBI"
---

<Base title={title} description="Oh the weeb trash that I am">
  <section class="sm:mt-5">
    <h2 transition:name="anime_title" class="text-xl sm:text-2xl font-semibold tracking-tighter opacity-95">Music</h2>
    <p class="max-md:text-sm text-muted-foreground">eargasm ah post.</p>
  </section>
  <section class="space-y-6 pt-6">
    <p class="text-pretty">
     todo: write about how much i love kalafina & yuki kajiura & yorushika & linkin park & twenty one pilots & zts & videogame music & doujin music & ...
    </p>
  </section>
  <section class="pt-8 gap-6 grid sm:grid-cols-2">
  </section>
</Base>
