---
import Navbar from "@/components/layout/Navbar.astro"
---

<header class="overflow-hidden h-16 top-0 w-full border-b border-border/15 bg-background/15 backdrop-blur">
  <div class="max-w-2xl w-full mx-auto px-4 flex h-16 items-center space-x-4 justify-between sm:space-x-0">
    <div class="flex gap-6">
      <a href="/" class="flex items-center space-x-2">
        <span class="font-semibold tracking-tighter">SamIsTheFBI</span>
      </a>
    </div>
    <div class="flex items-center gap-6 justify-between">
      <Navbar />
    </div>
  </div>
</header>
