<nav class="flex gap-6 items-center">
  <a
    href="https://drive.google.com/file/d/1syWr-chgvH2kG-zps-kOX4Zf9CcwrkSG/view?usp=sharing"
    target="_blank"
    class="text-sm font-medium text-muted-foreground hover:text-foreground"
  >
    Resume
  </a>
</nav>
