---
import { BiSolidRightArrow, BiSolidLeftArrow } from "react-icons/bi";
---

<div class="items-center justify-between gap-3 mx-auto px-3 max-w-md inline-flex">
  <a href="https://gnulinuxindia.org/direct.html?name=shivam&dir=prev" class="font-mono hover:text-foreground text-muted-foreground">
    <BiSolidLeftArrow />
  </a>
  <a target="_blank" href="https://gnulinuxindia.org/members.html/" class="text-sm hover:text-foreground text-muted-foreground hover:underline underline-offset-4 mt-[3px]">GLI WEBRING</a>
  <a href="https://gnulinuxindia.org/direct.html?name=shivam&dir=next" class="font-mono hover:text-foreground text-muted-foreground">
    <BiSolidRightArrow />
  </a>
</div>
