---
import WIP from '@assets/paz-construction.png'
import '../base.css'
---

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>SamIsTheFBI</title>
		<meta name="description" content="My fancy index page" />
		<meta name="author" content="Shivam Shekhar Soy, SamIsTheFBI" />
		<meta property="og:title" content="SamIsTheFBI's index page" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://samisthefbi.github.io/" />
		<meta property="og:description" content="My fancy index page" />
	
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	</head>
	<body class="bg-[#adadad]">
    <div class="bg-[url('/tape.png')] h-[55px]"></div>
		<section id="i-love" class="w-[100%] px-8 py-3 text-[#3a3532]">
			<div class="max-w-3xl mx-auto ">
        <h1 class="text-xl font-poppins font-extrabold border-y-2 border-[#3a3532] max-w-fit">404 Page not Found</h1>
				<p class="text-[18px] font-semibold font-poppins py-6">
          Seems like you've strayed too far.
        </p>
        <p class="text-[18px] font-semibold font-poppins">
          <a class="underline hover:text-[#bd9f43] hover:bg-[#3a3532]" href="/">Click here to go back to Home page.</a>
        </p>
        <img src={WIP.src} height="300px" class="max-h-[300px] absolute bottom-0 right-0 -z-10"/>
			</div>
		</section>
    <div class="bg-[url('/tape.png')] h-[8px] absolute w-[100%] -bottom-0 -z-40"></div>
	</body>
</html>

