---
import Base from "@/layouts/Base.astro"
import ProjectCard from "@/components/ProjectCard.astro"
import Links from "@/components/home/Links.astro"
import { Image } from 'astro:assets'

const title = "Home | SamIsTheFBI"
---

<Base title={title} description="Fancy home page">
  <section class="sm:mt-5">
    <div class="flex items-start gap-6">
      <Image 
        src="https://github.com/samisthefbi.png?size=128" 
        class="h-auto w-16 object-cover aspect-square rounded-full shadow-muted shadow-lg translate-z-20 mb-5" 
        height={128} 
        width={128}
        alt={'My Github Avatar'}
        quality={50}
        fetchpriority="high"
        decoding="async"
        transition:name="pfp"
      />
      <div>
        <a href="/about" class="text-xl sm:text-4xl font-bold tracking-tighter" transition:name="my_name">Shivam Shekhar Soy</a>
        <p class="max-md:text-sm text-muted-foreground">Programmer. Artist. <a href="/extras" class="" transition:name="weeb">Certified Weeb.</a></p>
      </div>
    </div>
  </section>
  <section class="space-y-6">
    <p>
      Hi, I'm <a href="/about" class="font-semibold">Shivam</a> aka <a href="/about" class="font-semibold">SamIsTheFBI</a>. My interests lie in <span class="font-semibold">web development, UNIX-like systems, shell scripting</span> and <span class="font-semibold">drawing</span>.
    </p>
    <p class="hidden">
      Check my <a class="underline underline-offset-4 hover:font-bold focus:font-bold active:font-bold" target="_blank" href="https://drive.google.com/drive/u/1/folders/18bJ8cmpP-lTkfsk-jyjgF6sCzTDtE8-t">resume</a> here.
    </p>
    <div class="flex gap-2 text-2xl">
      <Links />
    </div>
    <div class="space-y-4">
      <h1 class="font-bold">Projects</h1><span class="text-muted-foreground text-sm">More on my Github</span>
      <ul class="grid grid-cols-1 gap-x-4 gap-y-3 sm:grid-cols-2">
        <li>
          <ProjectCard 
            title="MUNSOC NIT Agartala" 
            description="Created the blog side of the website, all with a full fledged dashboard & text editor for authors & admins." 
            live="https://munsoc.in/"
            tech={['nextdotjs', 'tailwindcss', 'typescript', 'shadcnui', 'supabase']}
          />
        </li>
        <li>
          <ProjectCard 
            title="Supablog" 
            description="A fullstack blog with CMS built with Next14 + Tiptap Editor + ShadcnUI + UploadThing." 
            link="https://github.com/SamIsTheFBI/supablog"
            live="https://supablog-xi.vercel.app/"
            tech={['nextdotjs', 'tailwindcss', 'typescript', 'shadcnui', 'supabase']}
          />
        </li>
        <li>
          <ProjectCard 
            title="Mesua Ferrea" 
            description="Full stack food ordering app with realtime order notification, order queue & inventory management." 
            live="https://mesua-ferrea.vercel.app/"
            tech={['nextdotjs', 'tailwindcss', 'typescript', 'supabase']}
          />
        </li>
        <li>
          <ProjectCard 
            title="watchmenu" 
            description="Organize all of your movies and TV shows & watch them easily with this Bash script. Also supports YouTube." 
            link="https://github.com/SamIsTheFBI/watchmenu"
            tech={['gnubash']}
          />
        </li>
        <li>
          <ProjectCard 
            title="license-generator" 
            description="A POSIX compliant shell script that generates license for your open source projects" 
            link="https://github.com/SamIsTheFBI/license-generator"
            tech={['gnubash']}
          />
        </li>
        <li>
          <ProjectCard 
            title="dotfiles" 
            description="My dotfiles for Arch Linux." 
            link="https://github.com/SamIsTheFBI/dotfiles"
            tech={['gnubash', 'lua']}
          />
        </li>
      </ul>
    </div>
  </section>
</Base>
