---
import BaseHead from '@components/BaseHead.astro';
import NavBar from '@components/NavBar.astro'
import HeroSection from '@components/HeroSection.astro'
import Footer from '@components/Footer.astro'

import { ViewTransitions, fade } from 'astro:transitions';
---

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>SamIsTheFBI</title>
		<meta name="description" content="My fancy index page" />
		<meta name="author" content="Shivam Shekhar Soy, SamIsTheFBI" />
		<meta property="og:title" content="SamIsTheFBI's index page" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://samisthefbi.github.io/" />
		<meta property="og:description" content="My fancy index page" />
	
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <ViewTransitions transition:animate={fade({duration: "0.2s"})} />
	</head>
  <body class="bg-[#1a232e] text-slate-300 min-h-screen max-h-full">
    <header class="overflow-auto h-16">
      <NavBar />
    </header>
    <main class="flex main-height">
      <div class="m-auto">
        <HeroSection />
      </div>
    </main>
    <footer>
      <Footer />
    </footer>
    <script is:inline src="/vanilla-tilt.js"></script>
  </body>
</html>
