---
import { getCollection } from "astro:content";
import NavBar from '@components/NavBar.astro'
import Footer from '@components/Footer.astro'
import BaseHead from "@components/BaseHead.astro";
import '../../base.css'
import { Image } from "astro:assets";
import BooruImageList from "@components/BooruImageList.tsx"
import BackButton from '@components/BackButton.astro';

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => !post.data.planned);
---

<html lang="en">
  <BaseHead title="Extras" description="Even more stuff on my website" />
	<body class="text-slate-300 bg-[#1a232e]">
    <NavBar />
    <section class="pt-[65px] w-[100%] px-8 py-3 h-[100%]">
      <div class="max-w-3xl mx-auto my-3">
        <BackButton />
        <ul class="pt-6 divide-y divide-slate-50/[0.26]">
          <li class="py-3 px-6">
            <a href="/blog">
              <h1 class="text-6xl font-jost heading-underline py-3 text-white">Blog</h1>
              <p class="font-poppins pb-6">All the articles I've posted. Most of these are going to contain rants and completely random things off of my head.</p>
            </a>
          </li>
          <li class="py-3 px-6">
            <a href="/resources">
              <h1 class="text-6xl font-jost heading-underline py-3 text-white">Resources</h1>
              <p class="font-poppins pb-6">A curated list of resources available freely on internet, not so exclusively relevant for CS students.</p>
            </a>
          </li>
          <li class="py-3 px-6">
            <h1 class="text-4xl font-jost font-bold py-3 text-white">I also love these illustrations...</h1>
            <p class="font-poppins pb-6">I don't really use social media but when I do, I look for illustrations. Click on these to be redirected to their Safebooru pages.</p>
            <BooruImageList client:only/>
          </li>
        </ul>
      </div>
    </section>
    <Footer />
  </body>
</html>

