---
import { SiMyanimelist } from "react-icons/si";
import { FaGithub, FaLinkedin, FaXTwitter, FaInstagram, FaEnvelope } from "react-icons/fa6";
import Bsky from "@/assets/bluesky.svg"
---

<a target="_blank" href="https://github.com/samisthefbi/" class="border px-2 py-1 rounded-md hover:bg-secondary/35 bg-card/55">
  <FaGithub />
</a>
<a target="_blank" href="https://www.linkedin.com/in/shivam-shekhar-soy/" class="border px-2 py-1 rounded-md hover:bg-secondary/35 bg-card/55">
  <FaLinkedin />
</a>
<a target="_blank" href="https://twitter.com/SamIsTheFBI" class="border px-2 py-1 rounded-md hover:bg-secondary/35 bg-card/55">
  <FaXTwitter />
</a>
<a target="_blank" href="https://www.instagram.com/samisthefbi/" class="border px-2 py-1 rounded-md hover:bg-secondary/35 bg-card/55">
  <FaInstagram />
</a>
<a target="_blank" href="https://myanimelist.net/profile/SamIsTheFBI" class="border px-2 py-1 rounded-md hover:bg-secondary/35 bg-card/55">
  <SiMyanimelist />
</a>
<a target="_blank" href="mailto:shivamshekharsoy@gmail.com" class="border px-2 py-1 rounded-md hover:bg-secondary/35 bg-card/55">
  <FaEnvelope />
</a>
