---
import { FaGithub, FaLinkedin, FaXTwitter, FaEnvelope } from "react-icons/fa6";
---

<a target="_blank" href="https://github.com/samisthefbi/" class="px-2 py-1 rounded-md hover:bg-secondary/35 bg-card/55">
  <FaGithub />
</a>
<a target="_blank" href="https://www.linkedin.com/in/shivam-shekhar-soy/" class="px-2 py-1 rounded-md hover:bg-secondary/35 bg-card/55">
  <FaLinkedin />
</a>
<a target="_blank" href="https://twitter.com/SamIsTheFBI" class="px-2 py-1 rounded-md hover:bg-secondary/35 bg-card/55">
  <FaXTwitter />
</a>
<a target="_blank" href="mailto:shivamshekharsoy@gmail.com" class="px-2 py-1 rounded-md hover:bg-secondary/35 bg-card/55">
  <FaEnvelope />
</a>
<!-- 
<a target="_blank" href="https://www.instagram.com/samisthefbi/" class="px-2 py-1 rounded-md hover:bg-secondary/35 bg-card/55">
  <FaInstagram />
</a>
<a target="_blank" href="https://myanimelist.net/profile/SamIsTheFBI" class="px-2 py-1 rounded-md hover:bg-secondary/35 bg-card/55">
  <SiMyanimelist />
</a>
-->
