---
import { FaGithub, FaLinkedin, FaXTwitter, FaInstagram, FaEnvelope } from "react-icons/fa6";
---

<a target="_blank" href="https://github.com/samisthefbi/">
  <FaGithub />
</a>
<a target="_blank" href="https://www.linkedin.com/in/shivam-shekhar-soy/">
  <FaLinkedin />
</a>
<a target="_blank" href="https://twitter.com/SamIsTheFBI">
  <FaXTwitter />
</a>
<a target="_blank" href="https://www.instagram.com/samisthefbi/">
  <FaInstagram />
</a>
<a target="_blank" href="mailto:shivamshekharsoy@gmail.com">
  <FaEnvelope />
</a>
