---
import Wiby from '@assets/buttons/wiby.gif'
import Fauux from '@assets/buttons/fauux-btn-01.gif'
import { AiFillCaretLeft, AiFillCaretRight } from 'react-icons/ai'
---

<div class="px-3 text-center text-sm h-16 flex-col justify-center items-center">
  © 2023 <a href="/" class="underline underline-offset-4 hover:text-stone-200">Shivam Shekhar Soy</a>.
  <div class="flex items-center justify-between gap-6 mx-auto px-3 pt-2 max-w-md">
      <a href="https://gnulinuxindia.org/direct.html?name=shivam&dir=prev" class="hover:text-red-400"><AiFillCaretLeft /></a>
      <a href="https://gnulinuxindia.org/members.html/" class="font-mono">GNU/LINUX INDIA WEBRING</a>
      <a href="https://gnulinuxindia.org/direct.html?name=shivam&dir=next" class="hover:text-red-400"><AiFillCaretRight /></a>
  </div>
</div>
