---
import '../base.css'
import DropdownMenu from './DropdownMenu';
import { NavItems } from '@constants/menuItems'
---
<nav class="w-[100%] text-stone-300 mx-auto font-bold text-lg backdrop-blur-md top-0 z-10 border-b-[1px] border-slate-50/[0.06] fixed">
  <div class="flex justify-between px-6 py-3 sm:py-1 max-w-6xl mx-auto flex-wrap align-middle">
    <div class="py-2"><a href="/" class="cursor-pointer font-mono">> SamIsTheFBI</a></div>
    <div class="flex gap-6 align-middle sm:py-2">
      <!-- <button>🌙</button> -->
      <ul class="hidden sm:flex gap-6">
        {NavItems.map((item)=>(
          <li>
            <a href={item.link} class="nav-link">
              {item.name}
            </a>
          </li>
        ))}
      </ul>
      <div class="sm:hidden">
        <DropdownMenu client:visible />
      </div>
    </div>
  </div>
</nav>
