---
import Base from "@/layouts/Base.astro"

const title = "Movies | SamIsTheFBI"
---

<Base title={title} description="absolute cinema.">
  <section class="sm:mt-5">
    <h2 transition:name="anime_title" class="text-xl sm:text-2xl font-semibold tracking-tighter opacity-95">Movies</h2>
    <p class="max-md:text-sm text-muted-foreground">absolute cinema.</p>
  </section>
  <section class="space-y-6 pt-6">
    <p class="text-pretty">
      you know what, i'll actually write mini reviews of movies I watch
    </p>
  </section>
  <section class="space-y-6 pt-6">
    <div>
    <h2 class="text-lg font-semibold">The Dark Knight (2008)</h2>
      <span class="text-sm opacity-95">Dec 28, 2024</span>
    </div>
    <p>
      The best Batman movie. This is also the beginning of really cool starting scene of Nolan&apos;s Batman movies. Also, builds up a lot on Bruce Wayne&apos;s character which I think not a lot of superhero movies do well.
    </p>
    <div>
      <h2 class="text-lg font-semibold">Batman Begins (2005) <span class="text-sm text-muted-foreground">(rewatch)</span></h2>
      <span class="text-sm opacity-95">Dec 27, 2024</span>
    </div>
    <p>
      I&apos;m biased with Nolan&apos;s Batman movies, so long story short, I love this movie. Maybe not as much as its sequel but still does one of the best superhero introduction. The fights in the movie look very very superficial, not like Power Rangers but like not as good as other superhero movies, say, Captain America: Civil War fights.  
    </p>
    <div>
    <h2 class="text-lg font-semibold">Fallen Angels (1995)</h2>
      <span class="text-sm opacity-95">Dec 15, 2024 23:36</span>
    </div>
    <p>
      I could copy-paste a lot of what I wrote for Chungking Express review here because honestly in my opinion, these two share the same formula. Two stories told in pieces, one having that underworld killer vibe to it, the other being of a carefree kids at night vibe. Idk if that even makes any sense. To sum it up, I enjoyed parts of the movie but not all of it.
    </p>
    <div>
    <h2 class="text-lg font-semibold">Chungking Express (1994)</h2>
      <span class="text-sm opacity-95">Dec 15, 2024 00:30</span>
    </div>
    <p>
      It's a movie completely about the vibes. And I know that's Wong Kar-wai's speciality and this is how I was introduced to it. It tells a story of two cops falling in love, one for a mysterious woman and the other for an ethereal fast-food server. It felt kind of like the vibe that Past Lives and Aftersun gave plus the movie's own vibe. I'll probably try another one of Wong Kar-wai movies.
    </p>
  </section>
</Base>
