---
import Base from "@/layouts/Base.astro"

const title = "Movies | SamIsTheFBI"
---

<Base title={title} description="absolute cinema.">
  <section class="sm:mt-5">
    <h2 transition:name="anime_title" class="text-xl sm:text-2xl font-semibold tracking-tighter opacity-95">Movies</h2>
    <p class="max-md:text-sm text-muted-foreground">absolute cinema.</p>
  </section>
  <section class="space-y-6 pt-6">
    <p class="text-pretty">
      TODO: Write about how grateful I am that cinema exists 
    </p>
  </section>
  <section class="pt-8 gap-6 grid sm:grid-cols-2">
    Movie reviews
  </section>
</Base>
